<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YOLO Object Detection</title>
    <link rel="stylesheet" href="/static/styles.css">  <!-- Link to external CSS -->
</head>
<body>

    <!-- Upload Section -->
    <h2>Upload an Image for YOLO Detection</h2>
    <div class="upload-container">
        <form id="upload-form">
            <label for="file-upload" class="custom-file-upload">Choose Local Image </label>
            <input id="file-upload" type="file" name="file"  onchange ="displayFileName()" style="display: none;">
            <p id="file-name">No file selected</p>
            <button type="submit">Upload and Process</button>
        </form>
    </div>

    <img id="output-img" src="" alt="Processed Image">

    <!-- Camera Options -->
    <h2>Camera Options</h2>
    <div class="container">
        <button class="green-button" onclick="takeSnapshot()">📷 Camera Snapshot</button>
        <button class="green-button" onclick="startStream()">🎥 Start Camera Stream</button>
        <button class="green-button" onclick="stopStream()">🛑 Stop Camera Stream</button>
    </div>

    <img id="snapshot-img" src="" alt="Snapshot Image">
    <img id="video-stream" src="" alt="Live Stream">

    <!-- Link external JavaScript -->
    <script src="/static/scripts.js"></script>
</body>
</html>
